.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

.card{
    width:280px;
    padding:10px;
    border-radius:20px;
    margin:10px;
    font-size:10px
  }
  .card-img{
    width: 50%;
    border-radius: 20px;
    
  }